.bgstyle-first{padding: 0px;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;}
.search-result-main-div{background-color: #f5faff;padding: 30px 0px; margin:0px }
