<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="container">

  <div class="row clearfix">

    <div class="col-md-12 column">

      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">//</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Social Leaning Platform</a>
        </div>

          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="navbar-form navbar-left" role="search">

            <div class="form-group">
              <input type="text" id="search" class="form-control" formControlName="search">
            </div> 
            
            <button routerLinkActive="active" type="submit" class="btn btn-default">Search</button>



          </form>


      </nav>
    </div>
  </div>
</div>

  
</body>

</html>
