
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary commonBtn" type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>

       <!-- <div class="" style="font-size: 20px;">
            Sign up with <span class="facebook_btn"><i aria-hidden="true" class="fa fa-facebook-official"></i> Facebook</span>
        </div>-->

