<div class="container-fluid bgstyle-first search-result-main-div" [ngStyle]="{'background-image': 'url(' + photo + ')'}" style="">
  <div style="background-color: #3e3e3ead;color:#fff">
    <div class="container" style="padding: 10% 30px">
      <h1 style="font-size: 50px">{{course.courseName}}</h1>
    </div>
  </div>
</div>
<div class="container-fluid search-result-main-div">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <img src="/assets/image/profile_pic.png" class="img-circle col-lg-3 col-md-3 col-sm-3 col-xs-3" style="width:45px;height:45px;border:2px solid #50E3C2;margin-right: 3px;padding: 0px;">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 user_name_joined_date" style="padding: 0px 0px 0px 5px;width: auto;font-size: 16px;font-weight: 400;">
        <p> {{course.instructorName}} <span style="display: block;font-size: 12px;color: #787976;">12-12-2017 12:00:00</span></p>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 30px 15px;font-size: 17px;margin: 20px;border-radius: 5px;box-shadow: 0px 15px 4px -8px rgba(0,0,0,.2);background-color: #FFF;">
      <p>{{course.description}}</p>
    </div>
  </div>
</div>
<!-- <img [src]="course.imagePath"
     alt="{{course.courseName}}"
     class="img-responsive"
     style="max-height:100px;">-->
