<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">//</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Social Leaning Platform</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

              <ng-select [allowClear]="true"
              [items]="items"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="No item selected">
              </ng-select>

          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default" (click)= "sort()">Sort</button>
            <button type="submit" class="btn btn-default" (click)="init()">Show All</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Back</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>

  <div class="row clearfix" *ngFor = "let Link of Links">
   
      <div class="col-md-12 row">
          <h3>{{Link.title}}</h3>
      </div>

    <div class="row"> 

        <div class="col-md-4 column">
            <p>
              <iframe width="300" height="220"
                      [src]='transform(Link.url)'>
              </iframe>
            </p>
          </div>
          <div class="col-md-4 column">
            <p>
              {{Link.content}}
            </p>
            <p>
              created by: {{Link.author}}
            </p>
          </div>

    </div>
  </div>
  
</div>
</body>

</html>
