<div class="row">
    <div class="col-xs-12">
        <img [src]="course.imagePath"
             alt="{{course.courseName}}"
             class="img-responsive"
             style="max-height:100px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{course.courseName}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div
                class="btn-group"
                appDropdown>
            <button type="button"
                    class="btn btn-primary dropdown-toggle">
                Manage Course <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <!--<li><a href="#">To Shopping List</a></li>-->
                <li><a style="cursor: pointer;" (click)="onEditCourse()">Edit Course</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteCourse()">Delete Course</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{course.instructorName}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{course.description}}
    </div>
</div>
<!--<div class="row">
  <div class="col-xs-12">
    <iframe class="e2e-iframe-trusted-src" width="420" height="260" [src]="course.videoPath"></iframe>
  </div>
</div>-->

